<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <command
            id="de.checkininfo.checkinInfoCommand"
            name="Checkin Info">
      </command>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler
            class="de.checkininfo.CheckinInfoHandler"
            commandId="de.checkininfo.checkinInfoCommand">
      </handler>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="de.checkininfo.checkinInfoCommand"
               label="Checkin Info"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <count value="+"/>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
